* {
  --all-box-sizing: border-box;
  --target-margins: 7rem;
  box-sizing: var(--all-box-sizing);

  &:target {
    padding-top: var(--target-margins);
    margin-top: -var(--target-margins);
  }
}

html {
  --html-font-size: 62.5%;
  --html-scroll-behavior: smooth;
  font-size: var(--html-font-size);
  scroll-behavior: var(--html-scroll-behavior);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  --body-background-color: var(--grey-light);
  --body-color: var(--black);
  --body-font-size: 2rem;
  --body-line-height: 1.6;
  margin: 0;
  padding: 0;
  line-height: var(--body-line-height);
  font-size: var(--body-font-size);
  font-family: var(--sans-serif);
  color: var(--body-color);
  background-color: var(--body-background-color);
}

main {
  --main-text-align: center;
  text-align: var(--main-text-align);
}

article {
  --article-margin-bottom: 20px;
  margin-bottom: var(--article-margin-bottom);
}

h1,
h2,
h3 {
  --title-color: var(--primary);
}

h4,
h5,
h6 {
  --title-color: var(--blue);
}

h1 {
  --title-font-size: calc(var(--body-font-size) * 2.5);
}

h2 {
  --title-font-size: calc(var(--body-font-size) * 2);
}

h3 {
  --title-font-size: calc(var(--body-font-size) * 1.6);
}

h4 {
  --title-font-size: calc(var(--body-font-size) * 1.3);
}

h5 {
  --title-font-size: calc(var(--body-font-size) * 1.1);
}

h6 {
  --title-font-size: var(--body-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --title-font-family: var(--serif);
  --title-text-align: center;
  --title-text-transform: capitalize;
  font-family: var(--title-font-family);
  text-align: var(--title-text-align);
  text-transform: var(--title-text-transform);
  font-size: var(--title-font-size);
  color: var(--title-color);
}

a {
  --link-color: var(--primary);
  --link-outline: 0;
  --link-text-decoration: none;
  text-decoration: var(--link-text-decoration);
  outline: var(--link-outline);
  color: var(--link-color);
}

button {
  --button-background-color: transparent;
  --button-color: var(--white);
  --button-border: none;
  --button-cursor: pointer;
  border: var(--button-border);
  background-color: var(--button-background-color);
  color: var(--button-color);
  cursor: var(--button-cursor);
}

ul {
  --list-margin: 0 0 10px;
  --list-padding: 0;
  --list-style: none;
  margin: var(--list-margin);
  padding: var(--list-padding);
  list-style: var(--list-style);
}

figure {
  --figure-margin: 0;
  margin: var(--figure-margin);
}

img,
video {
  --img-max-width: 100%;
  --img-height: auto;
  --img-object-fit: contain;
  max-width: var(--img-max-width);
  height: var(--img-height);
  object-fit: var(--img-object-fit);
}

table {
  --table-border-collapse: collapse;
  --table-margin: auto;
  --table-text-align: center;
  --table-vertical-align: middle;
  margin: var(--table-margin);
  border-collapse: var(--table-border-collapse);
  text-align: var(--table-text-align);
  vertical-align: var(--table-vertical-align);
  font-family: var(--monospace);
}

code,
pre {
  --code-background-color: var(--black);
  --code-color: var(--green);
  --code-margin: auto;
  --code-overflow: scroll;
  --code-padding: 10px;
  --code-text-align: initial;
  --code-width: 100%;
  overflow: var(--code-overflow);
  margin: var(--code-margin);
  padding: var(--code-padding);
  width: var(--code-width);
  font-family: var(--monospace);
  text-align: var(--code-text-align);
  background-color: var(--code-background-color);
  color: var(--code-color);

  & > *::selection {
    background-color: var(--code-color);
    color: var(--code-background-color);
  }
}

@media (min-width: 576px) {
  code,
  pre {
    --code-width: 95%;
  }
}

@media (min-width: 768px) {
  code,
  pre {
    --code-width: 90%;
  }
}

@media (min-width: 992px) {
  code,
  pre {
    --code-width: 85%;
  }
}

@media (min-width: 1200px) {
  code,
  pre {
    --code-width: 80%;
  }
}

@media (min-width: 1600px) {
  code,
  pre {
    --code-width: 75%;
  }
}
