/********** TAGS **********/
* {
  box-sizing: var(--all-box-sizing);

  &:target {
    padding-top: var(--target-margins);
    margin-top: -var(--target-margins);
  }
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: var(--html-font-size);
  scroll-behavior: var(--html-scroll-behavior);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  padding: var(--body-padding);
  line-height: var(--body-line-height);
  font-size: var(--body-font-size);
  font-family: var(--sans-serif);
}

main {
  display: block;
  text-align: var(--main-text-align);
}

article {
  margin-bottom: var(--article-margin-bottom);
}

h1 {
  margin: 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  text-align: var(--title-text-align);
  text-transform: var(--title-text-transform);
  font-size: var(--title-font-size);
  color: var(--title-color);
}

a {
  text-decoration: var(--link-text-decoration);
  outline: var(--link-outline);
  color: var(--link-color);
  background-color: transparent;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

ul {
  margin: var(--list-margin);
  padding: var(--list-padding);
  list-style: var(--list-style);
}

table {
  margin: var(--table-margin);
  border-collapse: var(--table-border-collapse);
  text-align: var(--table-text-align);
  vertical-align: var(--table-vertical-align);
  font-family: var(--monospace);
}

code,
pre {
  font-size: 1em;
  overflow: var(--code-overflow);
  margin: var(--code-margin);
  padding: var(--code-padding);
  width: var(--code-width);
  font-family: var(--monospace);
  text-align: var(--code-text-align);
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

figure {
  margin: var(--figure-margin);
}

img,
video {
  border-style: none;
  max-width: var(--img-max-width);
  height: var(--img-height);
  object-fit: var(--img-object-fit);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: var(--button-cursor);
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
